*{
    box-sizing: border-box;
    margin: 0;
}

body{
background-color: coral;
}

header {
background-color: coral;

}

.topbar {
    height: 40px;
    
background-color: grey;
}

header nav {
    height: 80px;
}

header nav div.logo{
    background-color: gray;
}
nav div img {
    height: 80px;
}

main{
    display: flex;
    justify-content: center;
}

main.section.hero{
    min-height: calc( 100vh - 120px);

}

footer {
    height: 40px;
}