*{
    box-sizing: border-box;
    margin: 0;
}

body{
background-color: coral;
}


header {
background-color: coral;

}

header div.topbar {
    height: 40px;
    
background-color: grey;
}
 




header nav {
    height: 80px;
}

header nav div.logo{
    height: 40px;
    width: 0;
    display: flex;
    background-color: gray;
}
nav div img {
    height: 80px;
}
header nav div.navlinks {
    display: flex;
    justify-content: space-between;     
}
main{
    display: flex;
    justify-content: center;
}

main.section.hero{
    min-height: calc( 100vh - 120px);

}

footer {
    height: 60px;
}